<div class="max-w-xl mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-4">Todo一覧</h1>

  <%= link_to "新規作成", new_todo_path, class: "bg-blue-500 text-white px-4 py-2 rounded" %>

  <% @todos.each do |todo| %>
    <div class="flex items-center justify-between border p-3 mt-3 rounded">
      <span class="<%= 'line-through text-gray-400' if todo.completed %>">
        <%= todo.title %>
      </span>
      <div>
        <%= link_to "編集", edit_todo_path(todo), class: "text-blue-500 mr-2" %>
        <%= link_to "削除", todo_path(todo), data: { turbo_method: :delete }, class: "text-red-500" %>
      </div>
    </div>
  <% end %>
</div>